<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="persona-usuario-<%%VALUE(id)%%>" class=""><%%VALUE(usuario)%%></td>
		<td id="persona-nombre-<%%VALUE(id)%%>" class=""><%%VALUE(nombre)%%></td>
		<td id="persona-apellido-<%%VALUE(id)%%>" class=""><%%VALUE(apellido)%%></td>
		<td id="persona-correo-<%%VALUE(id)%%>" class=""><%%VALUE(correo)%%></td>
		<td id="persona-celular-<%%VALUE(id)%%>" class=""><%%VALUE(celular)%%></td>
		<td id="persona-cumpleanos-<%%VALUE(id)%%>" class=""><%%VALUE(cumpleanos)%%></td>
