<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="puntos-fecha_actividad-<%%VALUE(id)%%>" class=""><%%VALUE(fecha_actividad)%%></td>
		<td id="puntos-fecha_ingreso-<%%VALUE(id)%%>" class=""><%%VALUE(fecha_ingreso)%%></td>
		<td id="puntos-motivo-<%%VALUE(id)%%>" class=""><%%VALUE(motivo)%%></td>
		<td id="puntos-puntaje-<%%VALUE(id)%%>" class="text-right"><%%VALUE(puntaje)%%></td>
		<td id="puntos-impacto-<%%VALUE(id)%%>" class=""><%%VALUE(impacto)%%></td>
		<td id="puntos-emblema-<%%VALUE(id)%%>" class=""><img src="<%%TRANSLATION(ImageFolder)%%><%%VALUE(emblema)%%>" class="img-responsive img-thumbnail"></td>
		<td id="puntos-postulante-<%%VALUE(id)%%>" class=""><%%VALUE(postulante)%%></td>
		<td id="puntos-persona-<%%VALUE(id)%%>" class=""><%%VALUE(persona)%%></td>
