*
{
	#font-family: 'Bree Serif', serif !important;
	#font-family: 'Pathway Gothic One', sans-serif;
	#font-family: 'Amita', cursive;
	#font-family: 'Acme', sans-serif;
	#font-family: 'Cinzel', serif;
	#font-family: 'Open Sans', sans-serif;
	#font-family: 'Taviraj', serif;	
	font-family: 'Copse', serif;
	font-size: 12px;
}

/*.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}*/

.progress 
{
    height: 60px !important;
}

.viajes_data_blue
{
	padding-bottom: 10px;
	border-radius: 10px;
    #border: 1px solid #00b0f0;
    #background: #abe7fd;
    min-height: 400px;

	background: #abe7fd; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, aliceblue, aliceblue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, aliceblue, aliceblue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, aliceblue, aliceblue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, aliceblue, aliceblue); /* Standard syntax */
}

.pago
{
	#border: 1px solid #222;
}

.viajes_data_green
{
	padding-bottom: 10px;
	border-radius: 10px;
    #border: 1px solid #6ac86a;
    #background: #a3f9a3;
    min-height: 400px;

    background: #a3f9a3; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, aliceblue, aliceblue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, aliceblue, aliceblue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, aliceblue, aliceblue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, aliceblue, aliceblue); /* Standard syntax */
}

/*#txnPayPhone
{
	background-image: url('../images/payphone.png');
	background-repeat: no-repeat;
	height: 160px;
    background-size: contain;
}*/

.alert-success 
{
    #color: #f5f5f5 !important;
    #background-color: #42c731 !important;
    color: #000000 !important;
    background-color: #71ea8a !important;
    border-color: #42c731 !important;
    font-size: 16px;
    text-align: center;
    font-family: 'Acme', sans-serif !important;
}
.alert-danger 
{
    color: #f5f5f5 !important;
    background-color: #ff3333 !important;
    border-color: #42c731 !important;
    font-size: 16px;
    text-align: center;
    font-family: 'Acme', sans-serif !important;
}

.alert>.btn
{
	float: left;
	display: inline-block;
}



.btn
{
	padding: 12px 25px;
	min-width: 250px;
}

.btn-sm
{
	padding: 2px 5px !important;
}

.btn_summary_viaje
{
	padding: 5px 10px!important;
	margin: 5px !important;
	min-width: 50px !important;
	font-size: 13px !important;
	background: #00b0f0;
}

.btn_summary_viaje_green
{
	padding: 5px 10px!important;
	margin: 5px !important;
	min-width: 50px !important;
	font-size: 13px !important;
	background: #6ac86a;
}

.passenger-block>p
{
	font-size:18px !important;
	font-weight: bold;
}

.passenger-block>span
{
	font-size:12px !important;
	font-weight: bold;
}

.passenger-block
{
padding: 3px;
}



pre
{
	margin:0px !important;
	padding:5px !important;
	font-family: 'Copse', serif;
    font-size: 12px;
}

.pre-success
{
	background:#28d667 !important;
	color:#222 !important;
	min-height: 50px;
    line-height: 37px;
    text-align: center;
}

.pre-success:hover
{
	background:#228f3c !important;
	color:#fff !important;
	cursor: pointer;
}

.pre-disabled
{
	background:#222 !important;
	color:#fff !important;
	min-height: 50px;
    line-height: 37px;
    text-align: center;
}

.pre-on-going
{
	background:#fff968 !important;
	color:#222 !important;
	min-height: 50px;
    line-height: 37px;
    text-align: center;
}

.pre-on-going:hover
{
	background:#dfbf3e !important;
	color:#222 !important;
	cursor: pointer;
}

.pre-act-pago
{
	background:lime !important;
	color:#222 !important;
	min-height: 50px;
    line-height: 37px;
    text-align: center;
}

.pre-act-pago:hover
{
	background:darkgreen !important;
	color:#f5f5f5 !important;
	cursor: pointer;
}

.pre-pagar
{
	background:crimson !important;
	color:#fff !important;
	margin:0px !important;
	padding:8px !important;
	font-family: 'Copse', serif;
    font-size: 12px;
    #width:35% !important;
    min-height: 50px;
    line-height: 37px;
    text-align: center;
}

.pre-pagar2
{
	background:crimson !important;
	color:#fff !important;
	margin:0px !important;
	padding:8px !important;
	font-family: 'Copse', serif;
    font-size: 12px;
    #width:35% !important;
    min-height: 50px;
    line-height: 37px;
    text-align: center;
}

.pre-pagar3
{
	background:crimson !important;
	color:#fff !important;
	margin:0px !important;
	padding:8px !important;
	font-family: 'Copse', serif;
    font-size: 12px;
    #width:35% !important;
    min-height: 50px;
    line-height: 37px;
    text-align: center;
}

.pre-pagar:hover,.pre-pagar2:hover
{
	background:red !important;
	color:#fff !important;
	cursor: pointer;
}

.pre-calificar
{
	background:#00b0f0 !important;
	color:#fff !important;
	min-height: 50px;
    line-height: 37px;
    text-align: center;
}
.pre-calificar:hover
{
	background:#0d0ddf !important;
	color:#fff !important;
	cursor: pointer;
}

.pre-pending
{
	background:grey !important;
	color:#f5f5f5 !important;
	min-height: 50px;
    line-height: 37px;
    text-align: center;
}

th,td
{
	text-align: center;
}

.badge
{
	margin-left: 5px;
	background: brown !important;
	border-radius: 25%;
	font-size: 12px;
	font-weight: lighter;
}


.badge_orange
{
	margin-left: 5px;
	background: transparent !important;
	border: 2px solid #ffb458;
	border-radius: 25%;
	font-size: 12px;
	color: #f5f5f5 !important;
	font-weight: lighter;
}


.badge_summary_viaje
{
	background: #5c6c6e !important;
    color: cornsilk !important;
    margin-top: -26px;
    margin-right: -18px;
    padding: 7px 9px;
    border-radius: 50%;
}

.information
{
	background: floralwhite;
	padding: 2%;
}

.glyphicon-info-sign
{
	font-size: 48px;
	#margin-bottom: -10px;
	color:crimson;
}

.glyphicon-info-sign-default
{
	font-size: 20px !important;
	#margin-bottom: -10px;
	color:crimson;
	float: left;
	margin-top: 4px;
	margin-right: -4px;
}

.glyphicon-info-sign-docs
{
	font-size: 14px !important;
	#margin-bottom: -10px;
	color:crimson;
	#float: left;
	#margin-top: 14px;
	margin-right: -4px;
}

.glyphicon-picture
{
	font-size: 150px;
	#margin-bottom: -10px;
	color:grey;
}






.btn-sm
{
	font-size: 14px;
}

.form-group
{
	margin-bottom: 0;
}
.img_rounded
{
	 border-radius:50%;
	 border:1px solid #00b0f0;
}

.img_rounded1
{
	width:64px;
	 border-radius:50%;
	 border:1px solid #00b0f0;
}

.img_rounded_e2552a
{
	 border-radius:50%;
	 border:1px solid #E2552A;
}

.img_rounded_fafafa
{
	 border-radius:50%;
	 border:1px solid #FAFAFA;
}


.caption_banner>a
{
	display: inline-block;
}

.inner_body-block>div>div>center>img
{
	width: 90px;
}
.close
{
	color: antiquewhite !important;
	#border:2px solid crimson;
	border-radius: 100%;
	opacity: 1;
	padding: 0 6px 2px;
	margin-top: -5px;
	#background: crimson;
}

.pic_desc
{
	#background:f4f9fb;
	position: relative;
	background: #fafafa;
	color: teal;
	border-top: 4px solid #222;
	border-bottom: 4px solid #222;
	top: -20px;
	width: 300px;
	box-shadow: 7px 6px 6px grey;
}

.pic_veh_desc
{
	#background:f4f9fb;
	position: relative;
	background: #fafafa;
	color: teal;
	border-top: 4px solid #222;
	border-bottom: 4px solid #222;
	top: -20px;
	width: 300px;
	box-shadow: 7px 6px 6px grey;
}

.fb_img
{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.dohover
{
	font-size: 36px;
}
.dohover:hover
{
	font-size: 50px;
	#font-weight: bold;
}

th
{
	vertical-align: middle !important;
}
a:hover
{
	text-decoration: none;
}

.table
{
	font-size: 13px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
	border:0 !important;
	font-weight: lighter;
}

td
{
	line-height: 26px !important;
}



#loginRegister
{
	background: url('../images/road01.jpg');
	background-attachment: fixed;
	background-size: cover;
}

.inner_body
{
	/*background: url('../images/waiting01.jpg');*/
	background: url('../images/transport/driver-upd2.jpg');
	background-attachment: fixed;
	background-size: cover;
}

.submenu
{
	#background: #fbc96c;
	margin: 0px 0 10px;
}



.inner_body-block
{
	padding:2%;
	background: #e4e3e3;
	#background: #fbc96c;
	opacity:0.9;
	min-height: 600px;
}

.inner_body-block_right
{
	padding:2%;
	background: floralwhite;
	opacity:0.9;
	min-height: 600px;
}

.form-control
{
	font-size: 14px;
	border-radius: 0 !important;
}

.services_body
{
	background: url('../images/services3.jpg');
	background-attachment: fixed;
	background-size: cover;
}

.services-block
{
	padding:2%;
	#color:antiquewhite;
	#background:#FFF;
	#background: #e4e3e3;
	#opacity:0.9;
	min-height: 500px;
}

#grad_title {
  /*background: -webkit-linear-gradient(left, #222, #fbc96c); // Safari 5.1 to 6.0 
  background: -o-linear-gradient(right,#222, #fbc96c); // Opera 11.1 to 12.0
  background: -moz-linear-gradient(right,#222, #fbc96c); // Firefox 3.6 to 15
  background: linear-gradient(to right, #222, #fbc96c); // Standard syntax
  */
  background: -webkit-linear-gradient(left, #222, #00b0f0); // Safari 5.1 to 6.0 
  background: -o-linear-gradient(right,#222, #00b0f0); // Opera 11.1 to 12.0
  background: -moz-linear-gradient(right,#222, #00b0f0); // Firefox 3.6 to 15
  background: linear-gradient(to right, #222, #00b0f0); // Standard syntax
}

#grad_white {
  background: -webkit-linear-gradient(cornsilk, white); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(cornsilk, white); /* Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(cornsilk, white); /* Firefox 3.6 to 15 */
  background: linear-gradient(cornsilk, white); /* Standard syntax */
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img 
{
      width: 100%;
      #margin: auto;
      height: 300px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev 
{
	left:15%;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next 
{
	right:15%;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next, .carousel-control .icon-prev 
{
	font-size: 18px;
	color:#fff;
}

.carousel-caption
{
	background: #222;
	opacity: 0.8;
	width: 100%;
	right:0%;
	left:0%;
	padding: 0;
	bottom:0;
}

.item>img:hover
{
	cursor: move;
}




.sub-img
{
	width:50px !important;
	position: relative;
	left:-30px;
	bottom:-20px;
}


.login-register-block
{
	padding:2%;
	color:antiquewhite;
	background:#222;
	opacity:0.9;
	border:1px solid #222;
}

a
{
	color: #00b0f0 !important;
}

.caption_banner
{
	position: absolute;
	left: 10px;
	z-index: 99999;
	bottom: 100px;
	color: #fbc96c;
	text-align: center;
	padding: 3px 10px;
	width: 70%;
	display: inline-block;
	margin-left: 15%;
	margin-right: 15%;
	letter-spacing: .1em;
}

.dropdown-header
{
	font-weight: bold !important;
	font-size: 14px;
	background: teal;
	color: antiquewhite;
}

.dropdown-menu>li>a
{
	font-size: 12px;
}

.caption_banner>h2
{
	font-size: 36px !important;
	#font-weight: bold;
}

.caption_banner_small
{
	font-size: 15px;
}


.banner>img
{
	#opacity: 0.8;
	height:600px;	
}
.navbar-inverse
{
	border-radius: 0;

	/*menubar_color*/
	background-color: #000;
	border: none;
}


.servicemenu>ul>li
{
	display: inline-block;
}

/*.form-control
{
	border:1px solid #01c5c5;
}*/

.navbar
{
	margin-bottom: 0;
}

/*.navbar-brand
{
	position: absolute;
	top: -8px;
}*/


.navbar-nav>li>a 
{
	/*enuitem_color*/
    #color: #fbc96c !important;

    #font-weight: bolder;
    letter-spacing: .1em;

    #border:1px solid #fbc96c;
    margin: 0;
    #padding: 0;
     font-size: 12px;
}

.navbar-nav>li>a:hover 
{
    color: #fbc96c !important;
    font-size: 14px;
    color: bisquewhite;
}

.navbar-toggle 
{
    /*position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;*/
    background-color: teal;
    background-image: none;
    border: 1px solid teal;
    border-radius: 4px;
    border-color: teal;
}

.header-01
{
	background-color: #000;
}

.container
{
	width: 100%;
}
.banner 
{
    width: 100%;
    padding: 0;
}

.bg-crimson
{
	background: crimson;
}

.bg-green
{
	background: #6ac86a;
}

.bg-blue
{
	background: #00b0f0;
}

logo
{
	font-size: 36px;

	/*logo_color*/
	color: #fbc96c;
	#font-weight: bold;
}

#myNavbar>ul>li
{
	padding-left: 2px;
	padding-right: 3px;
}


.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover 
{
	background-color: #3f535a !important;	
	color:  black;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover 
{
	background-color: #00b0f0 !important;	
	color: antiquewhite;
}

.nav-tabs>li
{
	#background: #00b0f0 !important;
	margin: 3px;
	
}

.nav-tabs>li:hover
{
	#background: darkgrey !important;
	
}

.nav-tabs>li>a
{
	color: #f5f5f5 !important;
}

.data02
{
	line-height: 25px;
}

.intro
{
	min-height: 280px;
	border:1px solid #f9dd8e;
	border-radius: 5px;
	#margin-bottom: 50px;
}

.introImg1
{
	background: url('../images/taxi2.jpg');
	background-size: 100%;
}

.introImg2
{
	background: url('../images/passenger1.jpg');
	background-size: 100%;
}

.introImg3
{
	background: url('../images/airport1.jpg');
	background-size: 100%;
}

.intro p
{
	color: antiquewhite;
	margin: 10px;
	text-align: center;
	font-size: 24px;
}


.infopanel
{
	padding: 10px;

}

a
{
	text-decoration: none;
	#color: antiquewhite;
}

.loginSubmit
{
	margin-top: 0px;
	#float: right;
	#background: #f0ad4e;
	box-shadow: 4px 4px 4px #f9dd8e;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.heading01
{
	#background: #3f535a;
	color: #fff;
	padding: 12px 10px;
	margin: 10px;
	width: 98%;
	font-size: 44px;
}

.heading-bg-none01
{
	margin: 10px;
	font-size: 18px;
	font-weight: bolder;
}


.comment
{
	padding: 10px;
	margin: 0 10px;
	color: cornsilk;
	background: #222;
	box-shadow: 8px 8px 5px darkgrey;
	min-height: 200px;
}

.comment2
{
	padding: 10px;
	margin: 0 10px;
	color: cornsilk;	
	min-height: 200px;
}

.commentPanelTitle
{
	font-family: 'Lobster Two', cursive;
	color:#fbc96c;
	font-size: 36px;
}


.fotoPanelTitle
{
	font-family: 'Lobster Two', cursive;
	color: brown;
    background: antiquewhite;
    padding: 50px;
    /* font-size: 36px; */
    margin-top: 20px;
    opacity: 0.8;
	font-size: 84px;
}

.comment-text
{
	#font-family: 'Bree Serif', serif !important;
	#font-family: 'Pathway Gothic One', sans-serif;
	#font-family: 'Amita', cursive;
	#font-family: 'Acme', sans-serif;
	#font-family: 'Cinzel', serif;
	#font-family: 'Open Sans', sans-serif;
	#font-family: 'Taviraj', serif !important;
	font-family: 'Lobster Two', cursive;
	
	font-style:italic;
	font-size:18px;
	letter-spacing:.1em;
	text-align: center;
}

.comment-brush
{
	font-size:26px;
	color:#fbc96c;
	top:5px;
	position:relative;
}

.comment-writer
{
	font-size:14px;
	color:#fbc96c;
}

.img-thumbnail
{
	padding: 0px;
}

#services
{
	#background: burlywood;
	#background: moccasin;
	#background: #f9d3a3;
	background: url('../images/transport/goal2.jpg');
	background-attachment: fixed;
	background-size: cover;
}


.fotos
{
	#background: moccasin;
	#background: burlywood;
	background: url('../images/camera3.jpg?rand=<?php echo rand(); ?>');
	background-attachment: fixed;
	background-size: cover;
}

#myfotos
{
	min-height: 800px;
	#border:1px solid yellow;	
}

#fotoPanel
{
	position:relative;
	text-align:center;
	#background:#fbc96c;
	width:100%;
	min-height:450px;
	top:175px;
	#border:1px solid orange;	
}



.views
{
	#background: moccasin;
	#background: burlywood;
	background: url('../images/write2.jpg');
	background-attachment: fixed;
	background-size: cover;
}


#myviews
{
	min-height: 600px;	
}

#viewPanel
{
	position:relative;
	text-align:center;
	#background:#fbc96c;
	width:100%;
	min-height:400px;
	top:100px;
}

.footer
{
	#background-color: #222;
	background: url('../images/tile11.jpg');
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer_links>ul li
{
	display: block;
}

.footer_links>ul>li>span
{
	color: #fbc96c;
	margin-right: 3px;
}

.footer_links>ul>li>a
{
	color: #fbc96c !important;
	text-decoration: none;
}

.footer_links>ul>li>a:hover
{
	color: antiquewhite;
	text-decoration: none;
}

footer
{
	color: #fbc96c;
	text-align: center;
}
#aeropuerto-accordion,#conductor-accordion,#pasajero-accordion
{
	min-height: 300px;
}

.aeropuerto-accordion-dtl,.conductor-accordion-dtl,.pasajero-accordion-dtl
{
	position: relative;
	right: 0;
	top: 0;
}

.myaccordation
{
	#border:1px solid #222;	
}

.doBold
{
	font-weight: bold;
}

.panel-default>.panel-heading 
{
    color: #333;
    background-color: #fbc96c;
    border-color: #ddd;
}

.panel-title-inside
{
	padding: 0 0 10px;
	margin: 0;
}

.panel-body>div>div>ul>li, .panel-body>div>div>div>ul>li
{
	padding: 5px;
	display: block;
}

#pasajero-link-02,#pasajero-link-03,#pasajero-link-04,#conductor-link-12,#conductor-link-13,#conductor-link-14,#conductor-link-15,
#conductor-link-121,#conductor-link-131,#conductor-link-141,#conductor-link-151,#pasajero-link-122,#pasajero-link-132,#pasajero-link-142,#pasajero-link-152
{
	background-color: teal;
	padding:8px 8px;
	margin-bottom: 5px;
	border-radius: 5px;
	cursor: pointer;
	color: antiquewhite;
}

.panel-default
{
	#font-weight: bolder;
	font-size: 14px;
	text-align: justify;
}

.panel-info
{
	background-color: teal !important;
	opacity: 0.4;
}

.panel-body
{
	font-size: 14px;
}
.panel-body-content
{
	padding: 0 15px 15px;
}
.panel-success
{
	background-color: #449d44 !important;
	opacity: 0.4;
}

.panel-info>.panel-heading ,.panel-success>.panel-heading 
{
    color: antiquewhite;
    background-color: transparent;
    border-color: #bce8f1;
}

hr>.hr-01
{
	border-top: 1px solid #f0ad4e;
}


.btn-info
{
	#background: crimson;
	#border:2px solid #00b0f0;
	#color: #00b0f0;
	letter-spacing: .2em;
}

.btn-info:hover
{
	background: crimson;
	#border:2px solid #00b0f0;
	#color: #00b0f0;
}



.btn-warning
{
	background: #f0ad4e;
	border: 2px solid #f0ad4e;
	color:cornsilk;
}

.btn-warning:hover
{
	background: #f0ad4e;
	border: 2px solid #f0ad4e;
	color:cornsilk;
}

.btn_center
{	
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#link-00,#link-01,#link-03
{
	color: teal !important;
	text-decoration: none;
}

.servicepanel
{
	#background: #fafafa;
	#background-image: url('../images/motor.jpg');
	/*background:
	linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;*/
}

.servicepanel1,.servicepanel2,.servicepanel3,.servicepanel4
{
	min-height: 250px;
	width: 49%;
	margin: 0.5%;
	padding: 25px 1px 5px;
	text-align: justify;
	#border: 1px solid black;
	#border: .1em solid #ADCA1C;
	#box-shadow: 6px 8px 5px #ADCA1C;
	#background: #d9f356;
	#border-top-right-radius: 15px;
	

	/*background-image: url('../images/airport1.jpg');
	background-size: 100%;*/
}

.servicepanel1 p,.servicepanel2 p,.servicepanel3 p,.servicepanel4 p
{
	height: 140px;
	#border-right: 1px solid #222;
	padding: 20px 150px;
	text-align: justify;
}

.servicepanel1 h4,.servicepanel2 h4,.servicepanel3 h4,.servicepanel4 h4
{
	text-align: center;
}

.servicepanel1>h4>span,.servicepanel2>h4>span,.servicepanel3>h4>span,.servicepanel4>h4>span
{
	text-align: center;
	font-weight: bold;
	font-size: 28px !important;
}

.servicepanel1 img,.servicepanel2 img,.servicepanel3 img,.servicepanel4 img
{
	text-align: center;
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	#border-radius: 15px;
	box-shadow: 8px 8px 8px darkgrey;
	#border: 5px double #222;
	padding: 1px;
}

	

.functionpanel
{
	#background: #efefef;
	#background: #69c3c3;
	#background: #2cc7b9;
	#background-color: #222;
	background: url('../images/tile11.jpg');
	background: url('../images/motor.jpg');
	/*background: url('../images/transport/map1.jpg');
	background-attachment: fixed;
	background-size: 100%;
	opacity: 0.8;*/


	color: #fbc96c;
	#border:3px solid #69c3c3;
}

.functionpanel1>ul
{
	padding: 10px 20px;
}

.functionpanel1>ul>p
{
	text-align: center;
	margin-bottom: 15px !important;
	font-size: 24px;
	color: #f0ad4e;
}

.functionpanel1>ul>li
{
	text-align: justify;
	display: block;
}

.list
{
	#display: inline-block;
	margin: 3px 1px;
	#width: 150px;
	#color:antiquewhite;
	#background: teal;
	padding: 5px 15px;
	border-radius: 8px;
	line-height: 28px;
	#opacity: 0.8;
}

.list-heading
{
	vertical-align: 8px;
}


.glyphicon28
{
	font-size: 24px;
	padding-right: 15px;
	#padding-top: 20px;
}


.itemDtl,.itemDtl2
{
  #color: white;
  #color:#337ab7;
  margin-bottom: 5px;
}

.itemDtl label
{
  position: absolute;
  top: 7px;
  left: 20px;
  min-width: 150px;
  border-right: 1px solid #dff0d8;
  #background: #5bc0de;
  #background: #dff0d8;
  background: darkgrey;
  #color: antiquewhite;
  padding: 4px 6px 6px 4px;
  border-radius: 4px;
  margin: -5px 3px 0 -3px;


}

.errorMsg
{
	color: red;
	font-size: 14px;
	padding: 3px;
}

.itemDtl img
{
  width: 100%;
}


.itemDtl2 label
{
  position: absolute;
  top: 7px;
  left: 20px;
}
.itemDtl2 textarea
{
  padding-top: 25px;
  padding-left: 20px;
  #background: #5bc0de !important;
  #color: antiquewhite;
  #border-color: #5bc0de;
  margin-bottom: 5px;
  color:black;
}

.itemDtl input, .itemDtl textarea,.itemDtl select
{
  padding-left: 160px;
  #background: #5bc0de !important;
  #color: antiquewhite;
  #border-color: #5bc0de;
}

option
{
	height: 58px !important;
}

.itemDtl option
{
  padding-left: 120px;
  background: grey !important;
  color: antiquewhite;
  border-color: #5bc0de;
}

.itemDtl textarea
{
  text-align: justify;
}


.profileImage
{
	width: 200px;
	#padding:8px;
	height:200px;
	#border:1px solid #222;
	#padding: 4px;
	#border: 4px solid #222;
	#border-radius: 20px;
}



.docImage
{
	width: 350px;
	#padding:8px;
	height:200px;
	#border:1px solid #222;
}


.galleryUploadImage
{
	width: 350px;
	height:200px;
}

.verificarImage
{
  width: 80%;
  #border:1px solid #222;
}

#btnActualizarGaleria
{
	font-size: 14px;
	font-weight: lighter;
	padding: 15px;
	background: none;
	border:1px solid #00b0f0;
	color: #00b0f0;
}

#btnActualizarGaleria:hover
{
	background: #00b0f0 ;
	cursor: pointer;
	color: cornsilk;
}

#panelGaleria
{
	margin: 10px;
	padding: 40px 10px;
	#background: #c09f80;
}

legend {
    display: block;
    width: auto;
    padding: 0 30px;
    margin-bottom: 0 !important;
    #font-size: 21px;
    #line-height: inherit;
    color: #333;
    border: 1px;
    #border-bottom: 1px solid #e5e5e5;
    color:crimson;
    font-weight:bold;
}

fieldset {
    min-width: 0;
    padding: 10px;
    margin: 10px 10px 20px;
    border: 3px solid crimson;
}


fieldset>a>span
{
	padding:5px 15px;float:right;
	border:2px solid #00b0f0;
	color:#00b0f0;
	border-radius: 3px;
}

fieldset>a>span:hover
{
	background-color: #00b0f0;
	color:white;
}


hr
{
	border-color: #00b0f0;
	box-shadow: 2px 2px 2px #00b0f0;
}

.menu_header
{
	#background-color: orange;
	width: 100%;
	margin-top: 2px;
	padding: 0;
}
.menu_header>li
{
	#background:teal;
	padding: 0 5px;
	border-top-right-radius: 8px;
	display: inline-block;
	font-size: 12px;
	#margin-bottom: 5px;
}

.menu_header>li>a
{
	color: #00b0f0;
	text-decoration: none;
}

.menu_inner
{
	#background-color: orange;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 0px;
	padding: 0;
	#background: green;
}
.menu_inner>li
{
	background:#00b0f0;
	padding: 5px 12px;
	border-top-right-radius: 8px;
	display: inline-block;
	font-size: 14px;
	margin-bottom: 5px;
}

.menu_inner>li:hover
{
	#background: #fbc96c;
}

.menu_inner>li>a
{
	color: white !important;
	text-decoration: none;
}

.menu_inner>li>a:hover
{
	#color: #fbc96c !important;
	text-decoration: none;
}

.selectpicker
{
	height: 27px !important;
	font-size: 12px;
}
input[type='file'] 
{
    color: transparent;
    width: 142px;
    padding: 10px 0;
}

.btn_inline>button
{
	display: block;
	float: left;
	margin: 3px;
}


.submenu>li
{
	display: inline-block;
	padding: 3px 10px
}

.planificarviaje
{
	margin-bottom: 5px;
}


.success_row
{
	border-bottom-color: lightgrey !important;
	//background: #5f5b5b !important;
	background: #00b0f0 !important;
	color: cornsilk;
}


.notificar
{
	padding: 8px;
	margin-bottom: 10px;
	border:1px solid darkgrey;
	background:#fff;
}

/*RATING*/
input[type=range] 
{
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid #fff;
    
    /*required for proper track sizing in FF*/
    width: 150px;
}
input[type=range]::-webkit-slider-runnable-track 
{
    width: 150px;
    height: 5px;
    background: #fff;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: #5bc0de;
    margin-top: -6px;
}
input[type=range]:focus 
{
    outline: none;
    cursor: pointer;
}
.myRange:hover
{
    background: #fbc96c;
    cursor: pointer;
}
input[type=range]:focus::-webkit-slider-runnable-track 
{
    background: #fff;
}




input[type=range]::-moz-range-track 
{
    width: 150px;
    height: 10px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb 
{
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 20%;
    background: #5bc0de;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring
{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track 
{
    width: 150px;
    height: 10px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower 
{
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper 
{
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb 
{
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 20%;
    background: #5bc0de;
}
input[type=range]:focus::-ms-fill-lower 
{
    background: #888;
}
input[type=range]:focus::-ms-fill-upper 
{
    background: #ccc;
}

.rating-01
{
  display: inline-block;
}

#rate,#rate_veh
{
    padding:9px;
    width: 40px;
    border: 1px solid #5bc0de;
    background: #5bc0de;
    border-radius: 5px;
    color: white;
}


.container-item-rating img
{
  width:9px;
  margin-bottom: 5px;
}




.banner_caption
{
	#background: #222;
	padding: 0 10px;
	margin-bottom: 10px;
}

.img-thumbnail
{
	padding: 0px;
	width:180px !important;
}

/*.fotoPanelTitle
{
	font-size: 90px !important;
}*/

.input-group-addon
{
	min-width: 200px;
	#background: #fbc96c;
	#background: darkgrey;
	#background: #5f5b5b;
	background: #00b0f0;
	#background: #67d0f7;
	text-align: left;
	color: cornsilk;
	#font-weight: bold;
	font-size: 12px;
	letter-spacing: .1em;
}

.input-group-addon_forzada
{
	background: crimson !important;
}


.test>input,.test>select
{
	display: inline-block;
	float: left;
}

.input-group
{
	margin-bottom: 5px;
}

.table
{
	border: 1px solid darkgrey !important;	
}
.myrow,tr
{
	border-bottom: 1px solid darkgrey !important;
}

.bg-warning
{
	padding-top: 10px;
	padding-bottom: 10px;
}


.glyphicon-map-marker
{
	font-size: 28px;
	color: #00b0f0;
}

#mapholder
{
	border:3px double darkgrey;
}

.hist-dtl
{
	background: url('../images/post-it.png');
	background-attachment: fixed;
	background-size: cover;
}

.hist-dtl>div
{
	padding: 15px;
}







@media only screen and (max-width: 1024px) {
	.servicepanel1,.servicepanel2,.servicepanel3,.servicepanel4
	{
		min-height: 250px;
		width: 32%;
		margin: 0.5%;
		text-align: justify;
	}
	.servicepanel1 p,.servicepanel2 p,.servicepanel3 p,.servicepanel4 p
	{
		min-height: 200px;
		padding: 5px 20px;
	}

	.views
	{
		height:900px;
	}

	.img-thumbnail
	{
		padding: 0px;
		width:180px !important;
	}
	.viemImg{
		width:100%;
	}


}


@media only screen and (max-width: 768px) {
	.servicepanel1 p,.servicepanel2 p,.servicepanel3 p,.servicepanel4 p
	{
		min-height: auto;
	}
	.servicepanel1,.servicepanel2,.servicepanel3,.servicepanel4
	{
		min-height: 250px;
		width: 99%;
		margin: 0.5%;
		text-align: justify;
		#max-height: 500px;
	}
	/*.navbar-nav
	{
		display: none;
	}*/
	.caption_banner
	{
		bottom:20px;
	}
	.banner>img
	{
		height: auto;
	}
	.views
	{
		height:1500px;
	}

	.img-thumbnail
	{
		padding: 0px;
		width:180px !important;
	}

	.carousel-inner, .item>img
	{
		height:300px !important;
	}

	.fotoPanelTitle
	{
		font-size: 50px !important;
	}
}


@media only screen and (max-width: 320px) {
	.servicepanel1,.servicepanel2,.servicepanel3,.servicepanel4
	{
		min-height: 250px;
		width: 99% !important;
		margin: 0.5%;
		text-align: justify;
	}
	.servicepanel1 p,.servicepanel2 p,.servicepanel3 p,.servicepanel4 p
	{
		min-height: auto;
		padding: 5px 20px;
	}


	.caption_banner
	{
		bottom:0px;
	}
	.banner>img
	{
		height: auto;
	}

	.caption_banner>h2
	{
		font-size: 2px;
	}

	.caption_banner_small
	{
		font-size: 12px;
	}

	.img-thumbnail
	{
		padding: 0px;
		width:80px !important;
	}

	.views
	{
		height:1500px;
	}

	.carousel-inner, .item>img
	{
		height:200px !important;
	}
	.fotoPanelTitle
	{
		font-size: 90px !important;
	}

}